@media (max-width: 768px) {
    header img {
        width: 80px; /* Reducir el tamaño del logo en pantallas pequeñas */
    }

    .user-actions {
        display: none; /* Ocultar acciones de usuario en pantallas pequeñas */
    }

    .cart {
        display: none; /* Ocultar carrito en pantallas pequeñas */
    }

    nav .menu-container {
        flex-direction: column; /* Alinear los elementos del menú verticalmente en pantallas pequeñas */
    }

    nav .menu-container a {
        margin: 5px 0; /* Espaciado entre elementos del menú en pantallas pequeñas */
    }

    .image-slider img {
        height: 300px; /* Reducir altura de las imágenes del slider en pantallas pequeñas */
    }

    .promotion-item {
        width: 100%; /* Ajustar el ancho de los elementos de promoción al 100% en pantallas pequeñas */
    }

    .promotions .prev,
    .promotions .next {
        display: none; /* Ocultar botones de navegación en promociones en pantallas pequeñas */
    }

    .brands-container {
        flex-wrap: wrap; /* Permitir que las marcas se envuelvan en pantallas pequeñas */
        justify-content: center; /* Centrar marcas en pantallas pequeñas */
    }

    .brands-container .brand-item {
        margin: 10px; /* Espaciado entre marcas en pantallas pequeñas */
    }

    .products-container {
        overflow-x: scroll; /* Agregar barra de desplazamiento horizontal en productos en pantallas pequeñas */
    }

    .product-item {
        width: 250px; /* Ajustar el ancho de los elementos de producto en pantallas pequeñas */
    }

    .benefits-container {
        flex-direction: column; /* Alinear los elementos de beneficios verticalmente en pantallas pequeñas */
    }

    .benefit-item {
        width: 100%; /* Ajustar el ancho de los elementos de beneficio al 100% en pantallas pequeñas */
    }

    .ver-mas-btn {
        width: 100%; /* Ajustar el ancho del botón "Ver más" al 100% en pantallas pequeñas */
    }

    footer .footer-links {
        flex-direction: column; /* Alinear los enlaces del pie de página verticalmente en pantallas pequeñas */
    }

    footer .social-icons {
        justify-content: center; /* Centrar los íconos sociales en pantallas pequeñas */
    }
}

/* Estilos para dispositivos con pantalla mayor a 768px de ancho */
@media (min-width: 769px) {
    /* Agrega tus estilos CSS aquí */
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
    body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #5ccceb; 
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}
header img {
    width: 100px; 
    margin-right: 20px; 
}
nav {
    background-color: #fff; 
    color: #333; 
    text-align: center;
    padding: 10px;
}
nav .menu-container {
    display: flex;
    justify-content: center; 
}
nav .menu-container a {
    color: #333; 
    text-decoration: none;
    padding: 10px;
    margin-right: 10px; 
}
nav .menu-container a:hover {
    background-color: #555;
    color: #fff; 
}
.user-actions {
    display: flex;
    align-items: center;
}
.user-actions a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    margin-left: 10px;
}
.user-actions a:hover {
    background-color: #555;
}
.cart {
    background-color: #009688;
    border-radius: 50%;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart-icon {
    color: #fff;
    width: 24px;
    height: 24px;
}

.image-slider {
    position: relative;
    overflow: hidden;
    width: 80%;
    margin: auto;
    text-align: center;
}
.image-slider img {
    width: auto;
    max-width: 100%;
    height: 600px; 
    display: none;
    margin: 0 auto;
}
.image-slider img.active {
    display: inline-block;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.5);
    color: #333;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 24px;
    z-index: 1;
}
.prev {
    left: 10px;
}
.next {
    right: 10px;
}

footer {
    background-color: #5ccceb; 
    color: #fff;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    flex-wrap: wrap;
}
.footer-links {
display: flex;
}

.footer-links a {
color: #fff;
text-decoration: none;
margin-right: 20px; 
}
footer p {
    flex: 1 100%;
    margin-bottom: 10px;
}
.social-icons {
    flex: 1 100%;
    display: flex;
    justify-content: flex-end; 
    align-items: center;
}

.footer-bottom {
display: flex;
align-items: center;
}
.social-icons a {
    margin: 0 5px;
}
.social-icons img {
    width: 30px; 
}

.promotions {
    margin: 20px auto;
    width: 80%;
    text-align: center;
    position: relative; 
    overflow: hidden; 
}
.promotions-container { 
    display: flex;
    transition: transform 0.5s ease; 
}
.promotion-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 30%; 
    margin-right: 10px; 
    box-sizing: border-box; 
    border-color: red; 
}
.promotion-item:last-child {
    margin-right: 0; 
}
.promotion-item h3 {
    margin-top: 0;
    font-size: 12px; 
}
.promotion-item img {
    width: 100px;
    margin-bottom: 10px;
}

.promotions .prev,
.promotions .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.5);
    color: #333;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 24px;
    z-index: 1;
}
.promotions .prev {
    left: 10px;
}
.promotions .next {
    right: 10px;
}


.new-arrivals {
    margin: 20px auto;
    width: 80%;
    text-align: center;
}

.new-arrivals-container {
    display: flex;
    overflow-x: auto;
    scrollbar-width: none; 
    -ms-overflow-style: none; 
}

.new-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 200px;
    margin-right: 10px;
    box-sizing: border-box;
}

.new-item:last-child {
    margin-right: 0;
}

.new-item h3 {
    margin-top: 0;
    font-size: 16px;
}

.new-item img {
    width: 100%;
    margin-bottom: 10px;
}

.new-arrivals-container::-webkit-scrollbar {
    display: none;
}

.brands {
    margin: 20px auto;
    width: 80%;
    text-align: center;
}

.brands-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.brand-item {
    border: 2px solid black; 
    width: 80px; 
    height: 80px; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 50%; 
    overflow: hidden; 
}

.brand-item img {
    max-width: 100%; 
    max-height: 100%; 
}


.products-container {
    display: flex;
    flex-wrap: nowrap; 
    overflow-x: auto; 
    scrollbar-width: none; 
    -ms-overflow-style: none; 
    margin-bottom: 20px; 
}

.product-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 200px; 
    margin-right: 10px; 
    box-sizing: border-box;
}

.product-item:last-child {
    margin-right: 0;
}

.product-item h3 {
    margin-top: 0;
    font-size: 16px;
}

.product-item img {
    width: 100%;
    margin-bottom: 10px;
}


.products-container::-webkit-scrollbar {
    display: none;
}
.most-purchased {
    text-align: center; 
}

.benefits {
 margin: 20px auto;
  width: 80%;
  text-align: center;
}

.benefits-container {
display: flex;
justify-content: space-between;
align-items: center;
margin-top: 10px;
}

.benefit-item {
border: 1px solid #ccc;
border-radius: 5px;
padding: 10px;
width: 200px;
margin-right: 10px;
box-sizing: border-box;
}

.benefit-item:last-child {
margin-right: 0;
}

.benefit-item h3 {
margin-top: 0;
font-size: 16px;
}

.benefit-item img {
width: 100%;
margin-bottom: 10px;
}

.ver-mas-btn {
    background-color: #eeeeee;
    color: #000000;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.ver-mas-btn:hover {
    background-color: #555;
}
.benefit-item img {
width: 50%; 
height: auto; 
max-width: 100px; 
margin-bottom: 10px;
}

#most-purchased-container {
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap; 
}
/* Estilos CSS para el carrito de compras */
.carrito-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}
.carrito-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/* Otros estilos */
/* Estilos para el botón del carrito */
.cart-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}